// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'declarations';

.poles{
clear:both;
  h1 {
color: $main-color;
@include nice-background;
  }
}

#users figure{
float: left;
  margin: 30px;
  z-index: 100;
  width: 200px;
  height: 200px;
  border: 10px solid #FFFFFF;
   border-radius: 8px;
  box-shadow: 0 3px 10px #CCCCCC;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  figcaption {
    font-size: 1.1em;
    text-align: center;
    color: #5D7885;
    background: #FFF;
  }
  &:focus {
outline: none;
         z-index: 200;
         margin-top: 100px;
         margin-left: 200px;
         transform: scale(1.8);
         -o-transform: scale(1.8);
         -moz-transform: scale(1.8);
         -webkit-transform: scale(1.8);
         box-shadow: 0 3px 10px #333333;
  }
   &:focus + span{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #000;
              z-index: 150;
              opacity: 0.6;
              -moz-opacity: 0.6;
              -webkit-opacity: 0.6;

  }
  
}
